@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fde7e5;
  --foreground: #d22026;
  --accent: #d22026;
  --accentShadow: #d2202633;
  --muted: #de7579;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fde7e5;
    --foreground: #d22026;
    --accent: #d22026;
    --accentShadow: #d2202699;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Foxrights, Helvetica, sans-serif;
}

@layer components {
  h1 {
    @apply font-fave text-[clamp(4rem,2.404rem+5.106vw,7rem)];
  }
}